@import './styleSheets/reset';
@import './styleSheets/fonts';
@import 'material-icons/iconfont/material-icons.css';

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFD370;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 10px;
  border: none;
  &::placeholder {
    color: #9F9A91;
    font-weight: 700;
  }
}